<div class="reseñas">
  <h2>Reseñas de Usuarios</h2>
  <div class="tarjetas">

    <div class="tarjeta">
      <p class="titulo">{{ review1Nombre() }} - {{ review1Pelicula() }}</p>
      <p>{{ review1Comentario() }}</p>
      <p class="estrellas">★ ★ ★ ★ ★</p>
    </div>

    <div class="tarjeta">
      <p class="titulo">{{ review2Nombre() }} - {{ review2Pelicula() }}</p>
      <p>{{ review2Comentario() }}</p>
      <p class="estrellas">★ ★ ★ ☆ ☆</p>
    </div>

    <div class="tarjeta">
      <p class="titulo">{{ review3Nombre() }} - {{ review3Pelicula() }}</p>
      <p>{{ review3Comentario() }}</p>
      <p class="estrellas">★ ★ ★ ★ ☆</p>
    </div>

  </div>
</div>
