<div class="noticias">
  <h2>Últimas Noticias</h2>
  <div class="tarjetas">

    <div class="tarjeta">
      <div class="texto">
        <h3>{{ noticia1Titulo() }}</h3>
        <p>{{ noticia1Descripcion() }}</p>
        <a [href]="noticia1Link()" target="_blank" class="boton">Leer más</a>
      </div>
    </div>

    <div class="tarjeta">
      <div class="texto">
        <h3>{{ noticia2Titulo() }}</h3>
        <p>{{ noticia2Descripcion() }}</p>
        <a [href]="noticia2Link()" target="_blank" class="boton">Leer más</a>
      </div>
    </div>

    <div class="tarjeta">
      <div class="texto">
        <h3>{{ noticia3Titulo() }}</h3>
        <p>{{ noticia3Descripcion() }}</p>
        <a [href]="noticia3Link()" target="_blank" class="boton">Leer más</a>
      </div>
    </div>

  </div>
</div>
